/* Roboto font family link  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Philosopher font family link  */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
/* font-family: 'Philosopher', sans-serif; */

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    height: 60vh;
    background-color: #090213;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
img{
    border: solid 1px black;
    border-radius: 45px;
    box-shadow:5px 5px 5px 5px rgba(0,0,0,0.5);
}
nav{
    display: flex;
    padding: 2% 5%;
}
nav ul{
    text-align: right;
    flex: 1;
}
nav ul li{
    display: inline-block;
    padding: 16px 14px;
}
nav ul li a{
    color: white;
    font-weight: 100;
    font-size: 16px;
}
nav ul li a:hover{
    color: #c8c679;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #fef5f7;
    transition: .5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.contact{
    color: #c3b477;
}   
.contact::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #bbb882;
}
.button{
    border: 2px solid #bbb882;
    padding: 15px 30px;
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 40px;
}
.button:hover{
    background-color: #d1cb85;
    transition: .5s;
    color: black;
}
.head{
    padding-top: 5%;
    text-align: center;
    
}
.head h1{
    font-size: 80px;
    font-weight: 400;
    font-family: 'Philosopher', sans-serif;
    color:#d1cb85;
}
.contact-form{
    background-color: rgb(226, 224, 224);
    height: 140vh;
}
.form{
    display: flex;
    padding-top: 90px;
}
form{
    padding-top: 3rem;
}
form input, textarea{
    width: 100%;
    padding: 20px 50px;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 18px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #100535;
}
textarea{
    margin-bottom: 30px;
}
.form .button{
    margin-left: 70px;
    background-color: white;
    color:  #bbb882;
}
h4 i{
    color: #100535;
}
.h1{
    margin-left: 14rem;
    margin-top: 5em;
}
.h1 h1{
    font-size: 60px;
    color:#100535;
}
.h1 p{
    text-wrap: wrap;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
    line-height: 1.6;
    padding: 20px 0;
    font-family: 'Philosopher', sans-serif;
}
.h1 h4{
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    padding-top: 40px;
    
}
.h1 i{
    padding: 10px;
    border-radius: 50%;
    background-color:white;
    color:  #100535;
    font-size: 30px;
    transform: scale(0.6);
}

.social {
    background-color: black;
    color: #bbb882;
    width: 100%;
    padding: 3rem 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* font-family: 'Philosopher', sans-serif; */
  }
  
  .icons {
    flex: 1 1 40%;
  }
  
  .icons h2 {
    font-size: 1.5rem;
    padding-bottom: 20px;
    font-weight: 600;
  }
  
  .icons i {
    font-size: 1.8rem;
    margin-right: 20px;
    color: #bbb882;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  .icons i:hover {
    background-color: #fff;
    transform: scale(1.2);
    color: #100535;
    border-radius: 15px;
    padding: 2px 2px;
  }
  
  .content {
    flex: 1 1 40%;
    text-align: right;
  }
  
  .content h5 {
    font-size: 1.1rem;
    padding: 10px 0;
    color: #bbb882;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .content h5 i {
    font-size: 1.3rem;
    color: #bbb882;
  }
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  
    nav ul {
      text-align: center;
      display:inline-block;
    }
  
    nav ul li {
      display:block;
      padding: 10px 0;
    }
  
    .head h1 {
      display: none;
    }
  
    .form {
      flex-direction: column;
      padding: 1rem;
    }
  
    form input,
    textarea {
      margin-left: 0;
      width: 90%;
      padding: 15px;
    }
  
    .form .button {
      margin-left: 0;
      margin-top: 20px;
    }
  
    .h1 {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 2em;
    }
  
    .h1 h1 {
      font-size: 40px;
    }
  
    .h1 p {
      font-size: 16px;
    }
  
    .social {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem;
    }
  
    .icons,
    .content {
      flex: 1 1 100%;
      margin-top: 20px;
      text-align: center;
    }
  
    .content h5 {
      justify-content: center;
     
    }
  }
  @media (max-width: 768px) {
    a.button {
      display: none;
    }
    
  }
  