<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - Mansi Beauty</title>
    <link rel="icon" href="./static/images/favicon.png" />
    <link rel="stylesheet" href="./static/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <img src="./static/images/logo1.png" alt="logo" />
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html" class="contact">Contact</a></li>
          <a href="#" class="button">+64 226223601</a>
        </ul>
      </nav>
      <div class="head">
        <h1>Contact</h1>
      </div>
    </section>

    <section class="contact-form">
      <div class="form">
        <form>
          <input type="text" placeholder="Your Name" /> <br />
          <input type="email" placeholder="Your Email" /> <br />
          <input type="text" placeholder="Phone Number" /> <br />
          <textarea cols="40" rows="7" placeholder="Your Message"></textarea>
          <br />
          <br />
          <a href="#" class="button">Send Message</a>
        </form>
        <div class="h1">
          <h1>Have Any Queries?</h1>
          <p>
            We’re here to support your beauty journey every step of the <br/> way.
             Whether you're exploring our products for the first time<br /> or 
             seeking expert advice, our team is ready to assist. <br/>
             With a history of empowering confidence and enhancing <br/> natural
            beauty, we’ve proudly served thousands of happy<br /> customers and 
            collaborated with some of the most admired names<br/> in the beauty 
             industry. Your glow is our goal—so don’t hesitate to reach out. 
            Let’s make beauty effortless, together.✔️
          </p>
          <!-- <hr />
          <hr />
          <h4>
            <i class="fa fa-phone"></i>+64 226223601 <br />
            <i class="fa fa-envelope"></i> info.mansibeauty@gmail.com <br />
            <i class="fa fa-map-marker"></i> Auckland, New Zealand
          </h4> -->
        </div>
      </div>
    </section>

    <section class="social">
      <div class="icons">
        <h2>Sweet Socials</h2>
    
        <a href="https://www.instagram.com/your_username" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
    
        <a href="https://www.facebook.com/your_username" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
    
      </div>
    
      <div class="content">
        <h5><i class="fa fa-phone"></i> +64 226223601</h5>
        <h5><i class="fa fa-envelope"></i> info.mansibeauty@gmail.com</h5>
        <h5><i class="fa fa-map-marker"></i> Auckland, New Zealand</h5>
      </div>
    </section>
  </body>
</html>
