<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mansi Beauty</title>
    <link rel="icon" href="./static/images/favicon.png" />
    <link rel="stylesheet" href="./static/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <img src="./static/images/logo1.png" alt="logo" />
        <ul>
          <li><a href="home.html" class="home">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
          <a href="#" class="button">+64 226223601</a>
        </ul>
      </nav>
      <div class="head">
        
        <h1>Mansi Beauty</h1>
        <p>
          Enhancing your natural beauty with expert eyelash and microblading services.
        </p>
        <a href="./portfolio.html" class="button">GET GORGEOUS</a>
        <a href="./contact.html" class="button button2">CONTACT NOW</a>
      </div>
    </section>

    <!-- Studio Section  -->
    <section class="studio">
      <div class="studio-oneside">
        <div class="imgs model1">
          <img src="./static/images/home-model1.jpg" alt="model1" />
        </div>

        <div class="imgs img">
          <img src="./static/images/home-model2.jpg" alt="model2" />
        </div>

        <div class="imgs">
          <img src="./static/images/home-model3.jpg" alt="model3" />
        </div>

        <div class="imgs img">
          <img src="./static/images/home-model4.jpg" alt="model4" />
        </div>
      </div>

      <div class="studio-otherside">
        <h2>Welcome To</h2>
        <h1>Mansi Beauty</h1>
        <p>
          Where beauty meets precision.<br/>
          At our studio, we specialize in enhancing your natural <br/>
          features through luxurious eyelash extensions and expert<br/>
          microblading. Whether you're after bold, dramatic lashes<br/>
          or perfectly sculpted brows, we’re here to help you feel<br/>
          effortlessly beautiful – every day.<br/>
          Relax. Refresh. Renew. Your beauty journey starts here.
        </p>
        <a href="./contact.html" class="button">KNOW MORE</a>
      </div>
    </section>

    <!-- Services Section  -->
    <section class="services">
      <h2>Services For Every Occasion</h2>
      <div class="services-cards">
        <div class="card">
          <h1>Wedding Makeup</h1>
          
        </div>

        <div class="card">
          <h1>Party Makeup</h1>
        </div>

        <div class="card">
          <h1>Fashion Makeup</h1>
        </div>

        <div class="card">
          <h1>Photo-Shoot</h1>
        </div>
      </div>
    </section>

    
    <!-- Footer Section  -->
    
    <section class="social">
      <div class="icons">
        <h2>Sweet Socials</h2>
    
        <a href="https://www.instagram.com/your_username" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
    
        <a href="https://www.facebook.com/your_username" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
    
      </div>
    
      <div class="content">
        <h5><i class="fa fa-phone"></i> +64 226223601</h5>
        <h5><i class="fa fa-envelope"></i> info.mansibeauty@gmail.com</h5>
        <h5><i class="fa fa-map-marker"></i> Auckland, New Zealand</h5>
      </div>
    </section>
  </body>
</html>
