<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Makeup Artist</title>
    <link rel="icon" href="./static/images/favicon.png" />
    <link rel="stylesheet" href="./static/portfolio.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <img src="./static/images/logo1.png" alt="logo" />
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html" class="portfolio">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
          <a href="#" class="button">+64 226223601</a>
        </ul>
      </nav>
      <div class="head">
        <h1>Portfolio</h1>
      </div>
    </section>

    <section class="gallery">
      <div class="flex">
        <img src="./static/images/Makeup-doingmakeup-free-img.jpg" alt="img" />
        <img src="./static/images/Bride-gallery-free-img.jpg" alt="img" />
        <img
          src="./static/images/Makeup-Girldoingmakeup-free-img.jpg"
          alt="img"
        />
        <img src="./static/images/Model-makeup-gallery-free-img.jpg" alt="img" />
      </div>

      <div class="flex">
        <img src="./static/images/Hair-color-free-img.jpg" alt="img" />
        <img src="./static/images/Nail-paint-free-img.jpg" alt="img" />
        <img src="./static/images/Working-on-makeup-free-img.jpg" alt="img" />
      </div>
    </section>
    <section class="background">
      <div class="sides">
        <div class="front-side">
          <img src="./static/images/sale-badge.png" alt="img" />
        </div>

        <div class="mid-side">
          <h1>Book Your Appointment Now And Get 25% Off</h1>
          <h2>
            Awesome Monsoon Sale - 25% OFF On All Professional Make Up From Only
            $59
          </h2>
        </div>

        <div class="last-side">
          <a href="./contact.html" class="button3">Book Now</a>
        </div>
      </div>
    </section>

    <section class="bef">
      <div class="before">
        <img src="./static/images/before1.jpg" alt="img" />
        <h1>Before</h1>
      </div>

      <div class="before">
        <img src="./static/images/after1.jpg" alt="img" />
        <h1>After</h1>
      </div>

      <div class="before">
        <h1>Before</h1>
        <img src="./static/images/before2.jpg" alt="img" />
      </div>

      <div class="before">
        <h1>After</h1>
        <img src="./static/images/after2.jpg" alt="img" />
      </div>
    </section>
    
    <section class="social">
      <div class="icons">
        <h2>Sweet Socials</h2>
    
        <a href="https://www.instagram.com/your_username" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
    
        <a href="https://www.facebook.com/your_username" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
    
      </div>
    
      <div class="content">
        <h5><i class="fa fa-phone"></i> +64 226223601</h5>
        <h5><i class="fa fa-envelope"></i> info.mansibeauty@gmail.com</h5>
        <h5><i class="fa fa-map-marker"></i> Auckland, New Zealand</h5>
      </div>
    </section>
  </body>
</html>
