<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services - Makeup Artist</title>
    <link rel="icon" href="./static/images/favicon.png" />
    <link rel="stylesheet" href="./static/services.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <img src="./static/images/logo1.png" alt="logo" />
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html" class="services">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
          <a href="#" class="button">+64 226223601</a>
        </ul>
      </nav>

      <div class="head">
        <h1>Services</h1>
      </div>
    </section>

    <!-- collection section  -->
    <section class="collection">
      <h1>Choose From Collection</h1>
      <!-- One side  -->
      <div class="collection-flex">
        <div class="flex-sides">
          <img src="./static/images/nailart.jpg" alt="img" />
          <div class="overlay">
            <h2>Clean Nail Art</h2>
            <p>
              This is a short description elaborating the service you have
              mentioned above.
            </p>
            <img src="./static/images/sale-badge.png" alt="" />
          </div>
        </div>

        <div class="flex-sides">
          <img src="./static/images/haircut.jpg" alt="img" />
          <div class="overlay">
            <h2>Hair Styling</h2>
            <p>
              This is a short description elaborating the service you have
              mentioned above.
            </p>
            <img src="./static/images/sale-badge.png" alt="" />
          </div>
        </div>

        <div class="flex-sides">
          <img src="./static/images/massage.jpg" alt="img" />
          <div class="overlay">
            <h2>Full Body Massage</h2>
            <p>
              This is a short description elaborating the service you have
              mentioned above.
            </p>
            <img src="./static/images/sale-badge.png" alt="" />
          </div>
        </div>
      </div>

      <!-- other side  -->
      <div class="collection-flex">
        <div class="flex-sides">
          <img src="./static/images/cosmetics.jpg" alt="img" />
          <div class="overlay">
            <h2>Stocked Cosmetic</h2>
            <p>
              This is a short description elaborating the service you have
              mentioned above.
            </p>
            <img src="./static/images/sale-badge.png" alt="" />
          </div>
        </div>

        <div class="flex-sides">
          <img src="./static/images/spa.jpg" alt="img" />
          <div class="overlay">
            <h2>Fully Equipped Spa</h2>
            <p>
              This is a short description elaborating the service you have
              mentioned above.
            </p>
            <img src="./static/images/sale-badge.png" alt="" />
          </div>
        </div>

        <div class="flex-sides">
          <img src="./static/images/botox.jpg" alt="img" />
          <div class="overlay">
            <h2>Authorized Botox</h2>
            <p>
              This is a short description elaborating the service you have
              mentioned above.
            </p>
            <img src="./static/images/sale-badge.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="background">
      <div class="sides">
        <div class="front-side">
          <img src="./static/images/sale-badge.png" alt="img" />
        </div>

        <div class="mid-side">
          <h1>Book Your Appointment Now And Get 25% Off</h1>
          <h2>
            Awesome Monsoon Sale - 25% OFF On All Professional Make Up From Only
            $59
          </h2>
        </div>

        <div class="last-side">
          <a href="./contact.html" class="button3">Book Now</a>
        </div>
      </div>
    </section>
    <section class="social">
      <div class="icons">
        <h2>Sweet Socials</h2>
    
        <a href="https://www.instagram.com/your_username" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
    
        <a href="https://www.facebook.com/your_username" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
    
      </div>
    
      <div class="content">
        <h5><i class="fa fa-phone"></i> +64 226223601</h5>
        <h5><i class="fa fa-envelope"></i> info.mansibeauty@gmail.com</h5>
        <h5><i class="fa fa-map-marker"></i> Auckland, New Zealand</h5>
      </div>
    </section>
  </body>
</html>
